@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ClashDisplayFont;
  src: url(/Fonts/ClashDisplay/Fonts/OTF/ClashDisplay-Regular.otf);
}
@font-face {
  font-family: SatoshiFont;
  src: url(/Fonts/Satoshi/Fonts/OTF/Satoshi-Regular.otf);
}

.clashdisplayFont{
  font-family: ClashDisplayFont;
}
.satoshiFont{
  font-family: SatoshiFont;
}

/* EmailSignpu.tsx Component */
.EmailSignupBackgroundImage{
  background-image: url(/Images/EmailSignup-Image.png);
}
@media (min-width: 768px) {
  .EmailSignupBackgroundImage{
    background-image: url(/Images/EmailSignup-medium.png);
  }
}

/* Product Listings directory */
.ProductHeader{
  background-image: url(/Images/ProductsPageHeader.png);
  /* height: 146px; */
}

